html{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: sandybrown;
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: seagreen solid 10px;
}
.IELTS-logo{
    width: 300px;
}
.IELTS-parts>div{
    /* width: 100px; */
    border: 2px solid yellow;
    float: left;
}
.IELTS-intro{
    /* color: yellow; */
    font-family: 'Handlee', cursive;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 30px;
    /* text-shadow: 5px 5px 2px red ; */
}